<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bd.ac.bracu.app.bhangtichai.bhangti_chai">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
